/* Light Mode Styles */
body.light-mode {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: black;
    color: white;
}


#preloader{
    background: #fff url(../assets/pics/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.default_text {
    font-family: Brush Script MT;
    font-weight: bold;
    background-color: #ffffff;
    color: rgb(33, 137, 13);
}


body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#text {
    background-color: #343a40;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.most_recent_news {
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

.view-news-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-news-btn:hover {
    background-color: #0056b3;
}

#Trending {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn {
    padding: .55rem 1.5rem .45rem;
  }



  